@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Særudstilling: Gasolin</h1>

    <!-- MODUL 1 -->
    <!-- Div Container til Introduktion -->
    <div class="introduction">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <p/>

    </div>
    
    <!--------- MODUL 2 --------->

    <!-- Div Container til Bandemedlemmer image gallery -->
    <!-- Tab navigation buttons -->
    <div class="tabNav">
        <button class="tablinks" tab="kimLarsen">Kim Larsen</button>
        <button class="tablinks" tab="franzBeckerlee">Franz Beckerlee</button>
        <button class="tablinks" tab="wiliJonsson">Wili Jønsson</button>
        <button class="tablinks" tab="sorenBerlev">Soren Berlev</button>
        <button class="tablinks" tab="bjornUglebjerg">Bjorn Uglebjerg</button>

    </div>
    
    <!-- Indhold til bandemedlemmerne -->
    <!-- Kim Larsen -->
    <div id="kimLarsen" class="tabcontent">
        <p>
            Kim Larsen (1945–2018) var forsanger, guitarist og sangskriver i Gasolin og er en af de mest kendte musikere i dansk musikhistorie. Han blev født i København og var kendt for sin karakteristiske stemme, stærke tekster og evne til at skrive sange, som mange danskere kunne relatere til.

            I Gasolin var Kim Larsen en central figur og skrev mange af bandets største hits. Hans tekster handlede ofte om hverdagslivet, samfundet og menneskelige følelser, hvilket gjorde bandets musik meget populær.

            Efter Gasolin blev opløst i 1978, fortsatte Kim Larsen en succesfuld solokarriere og udgav mange populære albums. Han er stadig i dag en af de mest elskede musikere i Danmark.
        </p>
    </div>

    <!-- Franz Beckerlee -->
    <div id="franzBeckerlee" class="tabcontent">
        <p>
            Franz Beckerlee (født 1946) var guitarist i Gasolin og kendt for sin rå og energiske spillestil. Han spillede en vigtig rolle i at skabe bandets karakteristiske rocklyd.

            Før Gasolin spillede Beckerlee i forskellige jazz- og rockbands, og han bragte mange musikalske inspirationer med ind i gruppen. Hans guitarspil var ofte inspireret af blues og psykedelisk rock.

            Efter Gasolin fortsatte Franz Beckerlee med musik, men arbejdede også med kunst og fotografi.
        </p>
    </div>

    <!-- Wili Jønsson -->
    <div id="wiliJonsson" class="tabcontent">

    </div>

    <!-- Søren Berlev -->
    <div id="sorenBerlev" class="tabcontent">

    </div>

    <!-- Bjørn Uglebjerg -->
    <div id="bjornUglebjerg" class="tabcontent">

    </div>

</div>

