/* Guld, gul, navyblue, rød */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightgray;
}

header {
    background-color: black;
}

/* Adjusted the container to ocupy the max with of the body */
div.container {
    max-width: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* PHOTO GALLERY Styling */

div.photo-gallery {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
}

/* Justerer størrelsen af img i .photo-gallery og sørger for de er samme størrelse, men stadig kan skalere*/
.photo-gallery img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

/* .content-section - inddeling af sektioner */

.content-section {
    padding: 80px 20px;
    max-width: 100%;
    margin: auto;
    background-color: dimgray;
}
/* Image breaks, plads mellem sektioner*/

.image-break {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*--------------------- Styling af cards i bandemedlemmer -------------------**/
.card:hover {
    transform: scale(1.03);
}

/* Space mellem Collapse menu og knap */
.collapse {
    margin-top: 10px;
}

/* Ens billedstørrelse */
.card-img-top {
    height: 300px;
    object-fit: cover;
}